@using System;
@using System.Collections.Generic;
@using System.Linq;
@using OSDevGrp.MyDashboard.Web.Models;
@model IEnumerable<ImageViewModel<InformationViewModel>>

<div id="myCarousel" class="carousel slide mb-md-3" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        @for (int elementNo = 1; elementNo < Math.Min(7, Model.Count()); elementNo++)
        {
            <li data-target="#myCarousel" data-slide-to="@elementNo"></li>
        }
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            @await Html.PartialAsync("_CarouselInformationPartial", Model.ElementAt(0))
        </div>
        @for (int elementNo = 1; elementNo < Math.Min(7, Model.Count()); elementNo++)
        {
            <div class="carousel-item">
                @await Html.PartialAsync("_CarouselInformationPartial", Model.ElementAt(elementNo))
            </div>
        }
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>