@model DashboardViewModel
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4">
    @if (Model.Informations != null && Model.Informations.Any())
    {
        foreach (InformationViewModel information in Model.Informations)
        {
            <div class="col mb-3">
                @await Html.PartialAsync("_InformationPartial", information)
            </div>
        }
    }
</div>