@model DashboardViewModel
<div class="d-none d-sm-none d-md-block d-lg-block d-xl-block">
    @if (Model.LatestInformationsWithImage != null && Model.LatestInformationsWithImage.Any())
    {
        @await Html.PartialAsync("_CarouselPartial", Model.LatestInformationsWithImage)
    }
</div>