@model SystemErrorViewModel
@{
    ViewData["Title"] = "System error";
}

<h1 class="text-danger">System error</h2>
<div class="card">
    <div class="card-header text-danger">@Html.Raw(Model.Message)</div>
    <div class="card-body">
        <p class="card-text">@Html.Raw(Model.Details)</p>
    </div>
    <div class="card-footer">
        <small class="text-muted">Occurred at @Model.Timestamp.ToShortTimeString()</small>
    </div>
</div>