@using OSDevGrp.MyDashboard.Web.Models;
@model SystemErrorViewModel

@{
    ViewData["Title"] = "System error";
}

<div class="row">
    <div class="col-md-12">
        <h2>System error</h2>
        <div class="card">
            <div class="card-header text-danger">@Html.Raw(Model.Message)</div>
            <div class="card-body">@Html.Raw(Model.Details)</div>
            <div class="card-footer text-right">Occurred at @Model.Timestamp.ToShortTimeString()</div>
        </div>
    </div>
</div>