services:

  reverseproxy:
    image: reverseproxy-mydashboard
    depends_on:
      - dashboard
    build:
      context: .
      dockerfile: Nginx.Dockerfile
      args:
        certificateCommonName: ${certificateCommonName}
        certificateCountryName: ${certificateCountryName}
        certificateStateOrProvinceName: ${certificateStateOrProvinceName}
        certificateLocalityName: ${certificateLocalityName}
        certificateOrganizationName: ${certificateOrganizationName}
        certificateOrganizationalUnitName: ${certificateOrganizationalUnitName}
        certificateDns1: ${certificateDns1}
        certificateDns2: ${certificateDns2}
        certificateDns3: ${certificateDns3}
        certificatePassword: ${certificatePassword}
    ports:
      - "80:80"
      - "443:443"
    restart: always

  dashboard:
    image: dashboard-mydashboard
    environment: 
      - TZ=Europe/Copenhagen
      - DOTNET_RUNNING_IN_CONTAINER=true
      - ASPNETCORE_HTTP_PORTS=8080
      - NON_ROOT_USER=${nonRootUser}
      - SUDO_ASKPASS=/usr/local/bin/askpw
      - Authentication__Reddit__ClientId=${authenticationRedditClientId}
      - Authentication__Reddit__ClientSecret=${authenticationRedditClientSecret}
    build:
      context: .
      dockerfile: OSDevGrp.MyDashboard.Web.Dockerfile
      args:
        appUserGroup: ${appUserGroup}
        nonRootUser: ${nonRootUser}
        nonRootPassword: ${nonRootPassword}
        sshPassword: ${sshPassword}
    expose:
      - "8080"
      - "2222"
    restart: always